html{
  scroll-behavior: smooth;
}
.bg-dark-green {
  background-color: #687259 !important;
}
.bg-light {
  background-color: #E6CEBC !important;
}
.bg-ligth-green {
  background-color: #A2A182 !important;
}
.bg-orange {
  background-color: #BA6F4D !important;
}
.bg-section {
  background-color: #d6d6d6;
}
.navbar-brand h1 {
  color: #E6CEBC;
  font-family: 'Playball', cursive;
}

/* Start Weather */

.card-weather{

  border: 2px solid #BA6F4D;
}
.row-time{
    font-family: 'Nanum Myeongjo', serif;
}
.nav-item .nav-link{
  color: #d6d6d6;
}
.nav-item .nav-link.active,
.nav-item .nav-link:focus,
.nav-item .nav-link:hover{
  
  color: #BA6F4D;

}

#top-btn {
  display: none;
  position: fixed;
  /* justify-content: right; */
  bottom: 2%;
  right: 2%;
  z-index: 999;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #BA6F4D;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#top-btn:hover {
  background-color: #687259;
}
.slider-controls i{
  background-color: #687259;
  font-size: 25px;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  margin: 2px;
}
